.get-quote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Ensure text is visible on the dark overlay */
    z-index: 1; /* Ensure it is above the overlay */
}

.quote-question-button {
    background-color: #333; /* Dark background */
    color: white;
    border: 2px solid #555; /* Lighter border */
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; /* Add margin to create space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for modern look */
    position: relative; /* Required for positioning the popup */
}

.quote-question-button:hover {
    background-color: #444; /* Slightly lighter on hover */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.quote-question-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reset shadow on active */
}

.quote-question-button.selected {
    background-color: #4dbd78; /* Change background color when selected */
    border-color: #4CAF50; /* Change border color when selected */
    color: #fff; /* Change text color when selected */
}

.quote-question-div {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add some space between the buttons */
}

#how-complex-div {
    display: none; /* Hide the complex question div by default */
}

#package-size-div {
    display: none; /* Hide the package size question div by default */
}

#quote-result-div {
    display: none; /* Hide the quote result div by default */
}

#quote-result-inner-div {
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#contact-quote-button {
    display: none; /* Hide the contact button by default */
    background-color: #007BFF; /* Blue background */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; /* Add margin to create space */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#quote-result{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#quote-result-inner-div h2 {
    margin: 0px;
}

#contact-quote-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.popup {
    display: none;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the popup above the button */
    left: 50%;
    margin-left: -100px; /* Center the popup */
    opacity: 0;
    transition: opacity 0.3s;
}

.popup::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the popup */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; /* Arrow pointing down */
}

.quote-question-button:hover .popup {
    display: block;
    opacity: 1;
}

.plan-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse; /* Use collapse to merge borders */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #333; /* Dark background */
    color: white; /* White text */
}

.plan-table th, .plan-table td {
    padding: 15px;
    text-align: center;
    width: 33.33%; /* Make all columns the same width */
    border: 1px solid #555; /* Add border */
}

.plan-table th {
    background-color: #444; /* Slightly lighter for header */
    color: white;
    font-weight: bold;
}

.plan-table tr {
    background-color: #333; /* Dark background for rows */
}

.plan-table tr:nth-child(even) {
    background-color: #3a3a3a; /* Slightly lighter for even rows */
}

.plan-table td {
    border-bottom: 1px solid #555; /* Darker border */
}

.plan-table tr:last-child td {
    border-bottom: none;
}

@media screen and (max-width: 700px) {
    .quote-question-button {
        padding: 10px 10px;
        font-size: 1rem;
    }

    .plan-table {
        font-size: .9rem;
    }
}